/* @import 'open-props/postcss/style'; */

/* 
the above import brings in
@import 'props.media.css';
@import 'props.fonts.css';
@import 'props.sizes.css';
@import 'props.easing.css';
@import 'props.zindex.css';
@import 'props.shadows.css';
@import 'props.aspects.css';
@import 'props.colors.css';
@import 'props.gradients.css';
@import 'props.animations.css';
@import 'props.borders.css';
 */

<<<<<<< HEAD
@import 'open-props/postcss/style';
=======
 @import "open-props/postcss/style";
>>>>>>> working1

@import 'open-props/postcss/normalize';

@import 'open-props/postcss/buttons';

<<<<<<< HEAD
@import 'open-props/postcss/buttons/light';

/* @import 'open-props/postcss/theme';
@import 'open-props/postcss/buttons/dark'; */

.tags {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    gap: var(--size-2);
    max-inline-size: var(--size-content-3);
    & li {
        list-style-type: none;
        & .nowrap {
            display: flex;
            flex-wrap: nowrap;
            column-gap: var(--size-2);
        }
    }
}
=======

@import 'open-props/postcss/buttons/light';

/* @import 'open-props/postcss/theme';
@import 'open-props/postcss/buttons/dark'; */

.tags {
        display: flex;
        flex-flow: row wrap;
        align-content: flex-start;
        gap: var(--size-2);
        max-inline-size: var(--size-content-3);
        & li {
            list-style-type: none;
            & .nowrap {
                display: flex;
                flex-wrap: nowrap;
                column-gap: var(--size-2);
            }
        }
    }
>>>>>>> working1
