---
<<<<<<< HEAD
import Form from '../components/form.astro'
import { ViewTransitions } from 'astro:transitions'
=======
import Form from "../components/form.astro"
import { ViewTransitions } from 'astro:transitions'

>>>>>>> working1
---
<html>
  <head>
    <ViewTransitions />
  </head>
  <body>
    <Form/>

<<<<<<< HEAD
<html>
    <head>
        <ViewTransitions />
    </head>
    <body>
        <Form />
    </body>
</html>
=======
  </body>

</html>

>>>>>>> working1
