---

<<<<<<< HEAD
=======

>>>>>>> working1
---

<select data-navigate-select>
    <option value="/play">Play</option>
    <option value="/blog">Blog</option>
    <option value="/about">About</option>
    <option value="/tags">Tags</option>
</select>

<<<<<<< HEAD
=======

>>>>>>> working1
<script src="@scripts/select.ts"></script>
