---
import type { HTMLAttributes } from 'astro/types'
interface Props extends HTMLAttributes<'header'> {}

import Hamburger from './Hamburger.astro'
import ThemeIcon from './ThemeIcon.astro'

interface Props {
    class?: string
}

const { class: className = 'surface-1', ...rest } = Astro.props
---

<style>
    .banner {
        background-color: var(--surface-1);
        width: 100%;
    }
    .layout {
        display: subgrid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
<<<<<<< HEAD
=======
       
        
   
>>>>>>> working1
    }
    .icon {
        grid-area: icon;
    }
    .nav {
        grid-area: hamburger;
    }
</style>

<header class:list={['layout', className, 'banner']} {...rest}>
    <div class="icon">
<<<<<<< HEAD
        <ThemeIcon />
        <Hamburger class="nav" />
    </div>
=======
       <ThemeIcon>
    </div>
    <Hamburger  class="nav">
   
>>>>>>> working1
</header>
